<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>
<%= link_to 'ログアウト(管理者)', destroy_admin_session_path, method: :delete %>
<%= link_to 'ログアウト(ユーザー)', destroy_user_session_path, method: :delete %>