<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-9'>
      <%= link_to "新規登録",new_memory_path %>
      <%= render 'public/memories/memory_index', memory: @memory %>
    </div>
  </div>
</div>