<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-9 search-col-box'>
      <%= link_to memories_path("type": "link") do %><div class="search-title">全体表示</div><% end %>

      <% if @memories.blank? %>
        <h5 class="text-center">まだ投稿がありません😭</h5>
      <% else %>
        <div class="search-result">「<%= @search.country_code %>」の投稿一覧</div>
        <%= render 'public/memories/memory_index', memories: @memories %>
      <% end %>
    </div>
  </div>
</div>