<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-9'>
      <%= link_to "新規登録", new_hint_path %>

      <%= render 'public/hints/tag_list', tag_list: @tags %>

      <%= render 'public/hints/hint_index', hint: @hints %>
    </div>
  </div>
</div>