/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}

.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}

.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

.flag-icon {
  font-size: 25px;
  border: solid 1px  black;
}

nav.pagination {
  display: none;
}

.nav_list{
  color: white;
}
.link-change{
  color: black;
  text-decoration: none;
}

.hed_link {
  text-decoration: none;
  color: white;
  margin-left: 40px;
}

.toppage_icon {
  font-size: 150px;
  border: solid 1px  black;
}

.top_hint_width {
  width: 35%;
  height: 200px;
}

.all_container {
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
  min-height: 100vh;
}
.footer {
  height: 100px;
  width: 100%;
  padding: 40px 0;
  color: white;
  position: absolute;
  bottom: 0;
}

.swiper {
  height: 650px;
}

.crown-one {
  font-size: 60px;
  color: gold;
  top: -5px;
  left: 116px;
  position: relative;
}
.crown-two {
  font-size: 60px;
  color: silver;
  position: relative;
  top: -5px;
  left: 436px;

  position: relative;
}
.crown-three {
    font-size: 60px;
    color: #815a2b;
    position: relative;
    top: -5px;
    left: 760px;
}
.no-one {
  position: relative;
  top: -8px;
  right: 75px;
  font-size: 20px;
}
.no-two {
  position: relative;
  top: -8px;
  left: 272px;
  font-size: 20px;

}
.no-three {
  position: relative;
  top: -8px;
  left: 622px;
  font-size: 20px;
}

.index-ranking-icon {
  font-size: 130px;
  border: solid 1px  black;
  margin-bottom: 3px;
}
.show-ranking-icon {
  font-size: 170px;
  border: solid 1px  black;
  margin-bottom: 15px;
}

// .card-memory {
//   height: 380px;
//   width: 260px;
//   padding: 15px;
// }
 .top-memory-box {
   height: 380px;
   width: 260px;
   margin-top: 10px;
   border-radius: 5px;
  background-color: #F5F6F6;
 }

.tranking-plane1 {
  font-size: 17px;
  background-color: #ff9501;
  color: white;
  padding: 5px;
  margin-left: 4px;
  border-radius: 7px;
}
.tranking-plane2 {
  font-size: 17px;
  background-color: #ff6666;
  color: white;
  padding: 5px;
  margin-left: 4px;
  border-radius: 7px;
}
.ranking-show-plane {
  font-size: 16px;
  background-color: #ff6666;
  color: white;
  padding: 5px;
  margin-top: 2px;
  border-radius: 7px;
}
.ranking-shoe {
  font-size: 20px;
  margin-left: 4px;
}
.ranking-show-shoe {
  font-size: 18px;
  margin-top: 7px;
}

.ranking-crown-one {
  position: relative;
  font-size: 60px;
  color: gold;
  right: 35px;
  top: 40px;
}
.ranking-crown-two {
  position: relative;
  font-size: 60px;
  color: silver;
  right: 102px;
  top: 265px;
}
.ranking-crown-three {
  position: relative;
  font-size: 60px;
  color: #815a2b;
  right: 170px;
  top: 493px;
}
.ranking-no-one {
  position: relative;
  right: 227px;
  font-size: 20px;
  top: 37px;
}
.ranking-no-two {
  position: relative;
  top: 262px;
  right: 266px;
  font-size: 20px;
}
.ranking-no-three {
  position: relative;
  top: 490px;
  right: 307px;
  font-size: 20px;
}


.side_link {
  text-decoration: none;
  color: black;
  display: block;
}
.ranking-country-name {
  margin-left: 27px;
}
.ranking-show-country-name {
  margin-left: 23px;
  font-size: 20px;
}

.seach-count {
  font-size: 20px;
  height: 23px;
}

.total-content {
  font-size: 16px;
}
.onother-content {
  font-size: 14px;
}

.icon-button {
  width: 60px;
  height: 52px;
  border: solid 1px  black;
  border-radius: 7px;
  background-color: turquoise;
}

.ranking-show-camera {
  font-size: 22px;
  color: black;
  margin-top: 2px;
}
.ranking-show-light {
  font-size: 22px;
  color: yellow;
  margin-top: 2px;
}

.top-memory-img {
  padding-top: 20px;
  height: 230px;
  width: auto;
}
.top-memory-content {
    height: 100px;
    margin: 13px;
    border-radius: 7px;
    background-color: ghostwhite;
    padding-top: 30px;
}

.nav-item {
  width: 130px;
}

.user-img {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: 2px solid #dbbaba;
  margin: 5px;
  position: relative;
  text-decoration: none;
  color: white;
}
.user-icon {
  top: 42px;
  font-size: 20px;
  right: 69px;
}

.ranking-original-category {
  font-size: 13px;
}

.memory-nav-item {
  width: 150px;
  margin-top: 5px;
}
.memory-new-nav-item {
  width: 50px;
  margin-top: 5px;
}
.memory-plus {
  font-size: 33px;
  padding-top: 5px;
}


.memory-sho {
  font-size: 27px;
  color: black;
}

.memory-plane {
  font-size: 20px;
  background-color: #ff6666;
  color: white;
  padding: 5px;
  border-radius: 7px;
}
.memory-nav-content {
  font-size: 20px;
  color: black;
}

.memory-box {
  border-bottom: solid 1px #DEE2E6;
  margin: 10px 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.memory-user-icon {
  top: -56px;
  font-size: 20px;
}
.memory-username {
  text-align: center;
  font-size: 12px;
}

.memory-user-box {
  margin: 10px;
  width: 60px;
  height: 50px

}
.memory-country-box {
  text-align: center;
  width: 600px;
  margin-right: 60px;
  // position: absolute;
}
.memory-content-box {
  text-align: center;
  width: 700px;
}
.memory-action-box {
 width: 100%;
 margin: 5px;
}
.memory-action-content1 {
  margin: 0px 20px;
  font-size: 20px;
  text-decoration: none;
}
.memory-action-content2 {
  font-size: 19px;
}
.memory-comment-dots {
  transform: scale(-1, 1);
  margin-right: 3px;
}
.memory-action-content3 {
  margin-left: 500px;
}

.memory-new1 {
  margin: 16px;
  font-size: 20px;
}
.memory-new2 {
  margin: 5px 16px;
  font-size: 20px;
}

.memory-box-show {
  border-bottom: solid 1px #DEE2E6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.memory-show-title-box {
  border-bottom: solid 1px #DEE2E6;
}
.memory-show-left {
  font-size: 40px;
  margin-left: 75px;
}
.memory-show-title {
  font-size: 35px;
  margin-left: 580px;
}
.memory-show-action-content1 {
  margin: 0px 160px;
  font-size: 20px;
  text-decoration: none;
}
.memory-textarea {
  margin-left: 8px;
}
.memory-submit {
  margin-left: 5px;
}
.user-img-comment {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 2px solid #dbbaba;
  margin: 5px;
  text-decoration: none;
  color: white;
}
.memory-time {
  width: 100%;
  text-align: end;
}
.memory-comment-delete {
  text-align: end;
  margin-left: 20px;
  margin-bottom: 5px;
}
.memory-comment-content {
  margin-top: 32px;
}

.notice-user-icon {
  top: -19px;
  right: 2px;
  font-size: 20px;
}

.memory-unlogin-title {
  margin-left: 20px;
}

.hint-nav-content {
  font-size: 15px;
  color: black;
}
.hint-nav-content-corona {
  font-size: 13px;
  color: black;
  margin-top: 3px;
}
.hint-plus {
  font-size: 30px;
  position: absolute;
  top: 111px;
  right: 190px;
}
#hint_tag_list {
  width: 360px;
}

.hint-box {
  border-bottom: solid 1px #DEE2E6;
  margin: 20px 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.user-img-hint {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  border: 2px solid #dbbaba;
  margin: 0px 5px;
  position: relative;
  text-decoration: none;
  color: white;
}

.hint-nav-search {
  margin-top: 38px;
}

.memory-new-title {
  font-size: 30px;
  margin-left: 570px;
}

.hint-country-box {
  text-align: center;
  width: 600px;
  margin-right: 60px;
  margin-top: 25px;
}

.mypage-title-box {
  font-size: 33px;
  margin-left: 520px;
}

.mypage-title {
  font-size: 35px;
  margin-left: 543px;
}

.notice-box {
  margin: 0px 40px;
}

.follow-user-icon {
  font-size: 20px;
  top: 18px;
  left: 26px;
}
.follow-text {
  margin-left: 30px;
}
.follow-box {
  text-align: center;
  padding: 10px;
}

.map-box {
  margin: 45px 0px;
}

.mypage-plus {
  font-size: 40px;
  position: absolute;
  top: 100px;
  right: 100px;
  color: black;
}
.mypage-count {
  font-family: 'Hurricane', cursive;
  font-size: 40px;
  position: absolute;
  top: 720px;
  font-weight: bold;
  left: 200px;
}

.line {
    border-bottom: 3px solid #f6ba33;
    width: 150px;
    position: absolute;
    top: 770px;
    left: 200px;
}

.notice-top {
  text-align: center;
  color: white;
  font-size: 12px;
  width: 100%;
  background-color: cadetblue;
}

.review-new-title {
    font-size: 30px;
    margin-left: 540px;
}

.review-new-box {
  margin: 20px;
  margin-left: 240px;
}

.new-original-category {
  margin-left: 4px;
}
.review-new-button {
  margin-right: 200px;
}
.review-edit-title {
  font-size: 30px;
  margin-left: 520px;
}

.user-info-ranking-box {
  border-top: solid #DEE2E6;
  width: 100%;
  padding: 30px 0px;
}
.user-info-box {
  width: 100%;
}

.user-ranking-box {
  padding-top: 20px;
}

.mypage-user-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid #dbbaba;
  text-decoration: none;
  color: white;
}
.mypage-user-icon {
  top: 155px;
  font-size: 45px;
  right: 5px;
}
.mypage-username {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}
.fa-mars {
  color: lightblue;
  font-size: 20px;

}
.fa-venus {
  color: pink;
  font-size: 20px;
}
.mypage-introduction-box {
  text-align: center;
  width: 300px;
  margin-top: 10px;
}
.following {
  text-align: center;
  width: 100px;
}
.followers {
  text-align: center;
  width: 100px;
}
.follow-box {
  width: 100%;
}
.mypage-button {
  text-align: center;
  width: 170px;
}
.button-box {
  width: 100%;
  text-align: center;
}
.mypage-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.mypage-ranking-box {
  display: flex;
  // justify-content: center;
  // align-items: center;
  flex-wrap: wrap;
  margin: 30px 0px 60px 120px;
  border-bottom: 1px solid #dbbaba;
  padding-bottom: 5px;
}
.mypage-country-icon {
  font-size: 45px;
  border: solid 1px black;
}
.mypage-ranking-country-name {
  font-size: 20px;
  margin-top: 10px;
}
.mypage-rate {
  margin-top: 10px;
}
.mypage-crown-one {
  font-size: 60px;
  color: gold;
  top: 20px;
  left: 30px;
  position: relative;
}
.mypage-no-one {
  top: 17px;
  right: 161px;
  font-size: 20px;
  position: relative;
}
.mypage-crown-two {
  font-size: 60px;
  color: silver;
  top: 133px;
  right: 37px;
  position: relative;
}
.myapge-no-two {
  top: 129px;
  right: 201px;
  font-size: 20px;
  position: relative;
}
.mypage-crown-three {
  font-size: 60px;
  color: #815a2b;
  top: 246px;
  right: 105px;
  position: relative;
}
.mypage-no-three {
  top: 243px;
  right: 243px;
  font-size: 20px;
  position: relative;
}

.mypage-sho {
  font-size: 35px;
  color: black;
  margin-top: 3px;
}
.mypage-plane {
  font-size: 30px;
  background-color: #ff6666;
  color: white;
  padding: 5px;
  border-radius: 7px;
}
.mypage-camera {
  font-size: 37px;
  color: black;
  margin-top: 2px;
}
.mypage-light {
  font-size: 37px;
  color: yellow;
  margin-top: 2px;
}
.mypage-nav-item {
  background-color: gainsboro;
}

.mypage-review-index {
  margin: 20px 250px;
}
.mypage-render-icon {
  font-size: 100px;
  margin-bottom: 5px;
}

.mypage-want-index {
  margin: 20px 250px;
}

.review-show-title {
  font-size: 30px;
  margin-left: 525px;
}

.text-first {
  margin-left: -15px;
}

.review-side-box {
  text-align: center;
  margin: 15px 30px;
}
