<div class="show-title-box">
  <%= link_to user_path(current_user.id) do %>
    <div class="space"><i class="fa-solid fa-angle-left memory-show-left"></i></div>
  <% end %>
  <div class="show-title">通知</div>
</div>
<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-6'>
      <div class="notice-box">
        <% if @notifications.exists? %>
          <%= render @notifications %>
          <div class="text-center mb-2"><%= paginate @notifications %></div>
        <% else %>
          <h5 class="mt-3 text-center">通知はありません😭</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>