<div class="memory-show-title-box">
  <%= link_to user_path(@user) do %>
    <i class="fa-solid fa-angle-left memory-show-left"></i>
  <% end %>
  <span class="mypage-follow-title">Followers</span>
</div>

<% if @users.present? %>
  <%= render 'public/users/follow_list', users: @users %>
<% else %>
  <p class="text-center mt-4 h5">まだユーザーがいません😭</p>
<% end %>