<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages':['geochart'],
        'mapsApiKey': 'AIzaSyCmkRT6Jq9wnHLusWz2s5b_Gx9dgMlO2kU'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {

        var test = [
          ['Country'],
          [ 'JP' ]
          ];

        var data = google.visualization.arrayToDataTable(test);
        //   [
        //   ['Country'],
        //   ['Germany'],
        //   ['United States'],
        //   ['Brazil'],
        //   ['Canada'],
        //   ['France'],
        //   ['RU'],
        //   ['Australia'],
        //   ['JP']
        // ]);
        //描画オプション：描画地域などを設定できる。
        var options = {};
        //地図を描画するための要素を指定する。
        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
        //地図を描画する
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="regions_div" style="width: 100%; height: 100%;"></div>
  </body>
</html>